{% extends "base.html" %}
{% block content %}

<div class="container" style="background-color: rgb(255,255,255,0.9);margin-top:3rem;border-radius:4px;padding:15px;margin-bottom:3rem">

    <body style="background-image: url('../static/images/wallpaper.jpeg');background-attachment:fixed;background-repeat:no-repeat"></body>
    <h1>Data Summary:</h1>
    <br>
    <table class="table table-bordered">
        <tr>
            <th scope="row">Text Length (sentences)</th>
            <td>{{ file['sentences']|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Text Length (tokens)</th>
            <td>{{ file['tokens']|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Number of relations</th>
            <td>{{ file['links']|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Number of unique relations</th>
            <td>{% if file['unique relations'] is defined %}
                 {{ file['unique relations']|tojson }}
             {% else %}
                 aaa
            {% endif %}   </td>
        </tr>
        
        <tr>
            <th scope="row">Number of strong relations</th>
            <td>{% if file['strong relations'] is defined %}
                 {{ file['strong relations']|tojson }}
             {% else %}
                 aaa
            {% endif %} </td>
        </tr>
        
        <tr>
            <th scope="row">Number of weak relations</th>
            <td>{% if file['weak relations'] is defined %}
                 {{ file['weak relations']|tojson }}
             {% else %}
                 aaa
            {% endif %} </td>
        </tr>
        
        <tr>
            <th scope="row">Number of default concepts</th>
            <td>{% if file['default concepts'] is defined %}
                 {{ file['default concepts']|tojson }}
             {% else %}
                 aaa
            {% endif %} </td>
        </tr>
        
        <tr>
            <th scope="row">Number of concepts entered</th>
            <td>{% if file['entered concepts'] is defined %}
                 {{ file['entered concepts']|tojson }}
             {% else %}
                 aaa
            {% endif %}</td>
        </tr>
        
        <tr>
            <th scope="row">Number of transitive relations</th>
            <td>{{ file['transitive']|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Number of cycles</th>
            <td>{{ file['loops']|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Diameter</th>
            <td>{{ file['diameter']|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Max number of outgoing arcs</th>
            <td>name of the concept:{{ file['max out degree'][0]|tojson }} #: {{ file['max out degree'][1]|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Max number of incoming arcs</th>
            <td>name of the concept:{{ file['max in degree'][0]|tojson }} #: {{ file['max in degree'][1]|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Longest path</th>
            <td>aaa</td>
        </tr>
        
        <tr>
            <th scope="row">Number of leaves</th>
            <td>{{ file['leaves']|tojson }}</td>
        </tr>
        
        <tr>
            <th scope="row">Number of roots</th>
            <td>aaa</td>
        </tr>
    </table>
    
</div>
{% endblock %}