{% extends "base.html" %}
{% block content %}
<div class="container" style="background-color: rgb(255,255,255,0.9);margin-top:3rem;border-radius:4px;max-width: 1135px;margin-bottom:3rem;padding:15px">
<script src="https://d3js.org/d3.v4.js"></script>
<script src="../static/d3.v4.min.js"></script>

<body style="background-image: url('../static/images/wallpaper.jpeg');background-attachment:fixed;background-repeat:no-repeat"></body>
<h1>Linguistic Analysis:</h1>

<!--
<svg height="200" width="1300">
    <circle cx="55" cy="55" r="50" stroke="black" stroke-width="3" fill="red" />
    <circle cx="500" cy="55" r="50" stroke="black" stroke-width="3" fill="red" />
    <path d="M105 55 H 450" fill="transparent" stroke="black" stroke-width="3"/>

    <foreignobject class="node" x="0" y="110" width="100" height="100">
        <input id="prerequisite_node" type="text" name="prerequisite_node"/>
    </foreignobject>
</svg>
-->



<br />
<!--
<input id="prerequisite_node" type="text" name="prerequisite_node"/>
<input id="advanced_node" type="text" name="advanced_node"/>
-->
<label for="prerequisite_name">Prerequisite:</label>
<select class="form-control" id="prerequisite_name" name="prerequisite_name"></select>
<br />
<label for="advanced_name">Advanced:</label>
<select class="form-control" id="advanced_name" name="advanced_name"></select>
<br />
<label for="edge_weight">Weight of the relation:</label>
<select class="form-control" id="edge_weight" name="edge_weight"></select>
<br />
<label for="sent_id">Sentence of the relation:</label>
<select class="form-control" id="sent_id" name="sent_id"></select>
<br />
<input type="submit" name="find" id="find" class="btn btn-success" value="Find" />

<br />
<br />

<div id="results">
    <div id="paper">

        <!--
        <div id="margin">Context:
            <input id="title" type="text" name="title" readonly />
        </div>
        <textarea placeholder="Enter something funny." id="text" name="text" rows="4" readonly style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
        -->
    </div>
</div>

</div>


<!-- Modal box for showing prerequisite relations -->
<div class="modal fade" id="modalAnalysis" role="dialog">
<div class="modal-dialog" style="max-width:fit-content">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="conceptSummary_name"></h4>
        </div>

        <ul class="nav nav-tabs" id="tabContent" style="margin:auto">
           
            <li class="active"><a href="#context_tab" data-toggle="tab">Context</a> <br></li>
            
            <li><a href="#pos" data-toggle="tab">POS</a> <br></li>
            
            <li><a href="#syntax" data-toggle="tab">Syntax</a> <br></li>
            
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="context_tab">

                <div class="modal-body">
                    <svg id="svg_modal" width="320" height="100">
                        <g id="minigraph_modal" transform="translate(100,50)"></g>
                    </svg>
                    <p>The selected relation has been annotated in the following context:</p>
                    <div id="paper_modal"></div>
                    <br />
                    <br />
                    <div id="buttons_wrapper">
                        <a href="#" id="prev_button" class="previous round">&#8249;</a>
                        <a href="#" id="next_button" class="next round">&#8250;</a>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="pos">
                <div class="modal-body">
                    <table class="table table-bordered" id="table_pos">
                        <tr>
                            <th>SENT NUM</th><th>TOK NUM</th><th>FORMA</th><th>LEMMA</th><th>POS (COARSE)</th><th>POS (FINE)</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="syntax">
                <div class="modal-body">
                    <p>Syntax of the sentence:</p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>
</div>

    <!--
    <script src="http://d3js.org/d3.v5.min.js"></script>
    -->
<script type="text/javascript">
             var $json = {{ file.json|tojson }}
             var $conll = {{ file.conll|tojson }}
             var $tagged = {{ file.tagged|tojson }}
             var $autoConcepts = {{ file.concepts|tojson }}
             var $conceptToTok = {{ file.concept_to_tok|tojson }}
             var $tokToConcept = {{ file.tok_to_concept|tojson }}
             var $sentList = {{ file.sentence|tojson }}
             
             
</script>
<script src="../static/linguistic_analysis.js"></script>
{% endblock %}