{% extends "base.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/annotation.css') }}">
<body style="background-image: url('../static/images/wallpaper.jpeg');background-attachment:fixed;background-repeat:no-repeat"></body>

<!-- THIS IS BOOTSTRAP ALERT -->
<div class='alert alert-success' style='display:none' id='bootstrap-alert'>
  Success! (div with Bootstrap alert class)
</div>
<form action="javascript:;" onsubmit="submit_entry(this)">
<div class="container mt-5" style="background-color:rgb(255,255,255,0.9);padding:1.25rem;border-radius:4px">
      <!-- To create a custom file upload, wrap a container element with a class of .custom-file around the input with type="file". Then add the .custom-control-input to it: -->
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="book">Insert the name of the book/paper</label>
              <input class="form-control" id="book" name="book" required>
              <div class="invalid-feedback">
                  Please insert the name
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="author">Insert the name of the authors splitted by commas</label>
              <input class="form-control" id="author" placeholder="eg: Author1, Author2, Author3" required>
              <div class="invalid-feedback">
                  Please insert the name of the authors
              </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="year">Insert the year of the book/paper</label>
              <input type="number" class="form-control" id="year" required>
              <div class="invalid-feedback">
                  Please insert just numbers
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="cap">Insert the cap of the book</label>
              <input type="number" class="form-control" id="cap" required>
                <div class="invalid-feedback">
                  Please insert just numbers
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="category">Insert the category of the book/paper</label>
              <input class="form-control" id="category" required>
              <div class="invalid-feedback">
                  Please insert the category
              </div>
            </div>
        </div>
        <div class="form-row custom-file col-md-6">
            <input type="file" class="custom-file-input" id="customFile" name="filename" required>
            <label class="custom-file-label" for="customFile">Choose file with extension '.txt'</label>
        </div>

        <div class="mt-3">
            <button class="btn btn-primary">Choose file</button>
       
            <button type="submit" class="btn btn-primary save">Save file</button>
        </div> 
</form>  
    <br>
    <div class="row d-flex justify-content-center container text" style="border-color:transparent;position:inherit">
        <pre id="content-target"></pre>
    </div>
    
</div>
<div class="modal"><!-- Place at bottom of page --></div>


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>   
<script type=text/javascript src="{{
  url_for('static', filename='annotation.js') }}"></script>
{% endblock %}